absl-py==1.0.0
aiobotocore==1.4.2
aiohttp==3.8.0
aiohttp-retry==2.4.6
aioitertools==0.8.0
aiosignal==1.2.0
albumentations==1.1.0
alembic==1.4.1
appdirs==1.4.4
astroid==2.8.5
astunparse==1.6.3
async-timeout==4.0.1
atpublic==2.3
attrs==21.2.0
boto3==1.17.106
botocore==1.20.106
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
cloudpickle==2.0.0
colorama==0.4.4
commonmark==0.9.1
configobj==5.0.6
cycler==0.11.0
databricks-cli==0.16.2
dictdiffer==0.9.0
diskcache==5.2.1
distro==1.6.0
docker==5.0.3
dpath==2.0.5
dulwich==0.20.26
dvc==2.8.3
entrypoints==0.3
flake8==4.0.1
Flask==2.0.2
flatbuffers==2.0
flatten-dict==0.4.2
flufl.lock==6.0
frozenlist==1.2.0
fsspec==2021.11.0
ftfy==6.0.3
funcy==1.16
future==0.18.2
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grandalf==0.6
greenlet==1.1.2
grpcio==1.41.1
gunicorn==20.1.0
h5py==3.5.0
idna==3.3
image-classifiers==1.0.0
imageio==2.10.4
importlib-metadata==4.8.2
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
joblib==1.1.0
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
libclang==12.0.0
mailchecker==4.0.16
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mccabe==0.6.1
mlflow==1.21.0
multidict==5.2.0
mypy==0.910
mypy-extensions==0.4.3
nanotime==0.5.2
networkx==2.6.3
numpy==1.21.4
oauthlib==3.1.1
opencv-python-headless==4.5.4.58
opt-einsum==3.3.0
packaging==21.2
pandas==1.3.4
pathspec==0.9.0
phonenumbers==8.12.37
Pillow==8.4.0
platformdirs==2.4.0
ply==3.11
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.5
protobuf==3.19.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydot==1.4.2
pyflakes==2.4.0
pygit2==1.7.0
Pygments==2.10.0
pygtrie==2.4.2
pylint==2.11.1
pyparsing==2.4.7
python-benedict==0.24.3
python-dateutil==2.8.2
python-editor==1.0.4
python-fsutil==0.5.0
python-slugify==5.0.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
qudida==0.0.4
querystring-parser==1.2.4
requests==2.26.0
requests-oauthlib==1.3.0
rich==10.13.0
rsa==4.7.2
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
s3fs==2021.11.0
s3transfer==0.4.2
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
shortuuid==1.0.8
shtab==1.4.2
six==1.16.0
smmap==5.0.0
SQLAlchemy==1.4.27
sqlparse==0.4.2
tabulate==0.8.9
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
voluptuous==0.12.2
wcwidth==0.2.5
websocket-client==1.2.1
Werkzeug==2.0.2
wrapt==1.13.3
xmltodict==0.12.0
yarl==1.7.2
zc.lockfile==2.0
zipp==3.6.0
