absl-py==0.15.0
alibi-detect==0.7.3
astunparse==1.6.3
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
clang==5.0
click==8.0.3
cloudpickle==2.0.0
cycler==0.11.0
decorator==5.1.0
dill==0.3.4
dm-tree==0.1.6
filelock==3.4.0
Flask==2.0.2
flatbuffers==1.12
fonttools==4.28.1
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.42.0
h5py==3.1.0
huggingface-hub==0.1.2
idna==3.3
imageio==2.11.1
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.0
networkx==2.6.3
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.4.58
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.4
pika==1.2.0
Pillow==8.4.0
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.5
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
setuptools-scm==6.3.2
six==1.15.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.2
tensorflow-estimator==2.6.0
tensorflow-probability==0.12.2
termcolor==1.1.0
threadpoolctl==3.0.0
tifffile==2021.11.2
tokenizers==0.10.3
tomli==1.2.2
tqdm==4.62.3
transformers==4.12.5
typing-extensions==3.7.4.3
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.12.1
zipp==3.6.0
